<div class="container">
  <ng-container *ngIf="articleDetails">
    <a [routerLink]="['/']" class="btn btn-outline-secondary my-5"
      >Return to All Articles</a
    >
    <h1 class="mb-5">{{ articleDetails.title }}</h1>
    <p>{{ articleDetails.description }}</p>
    <footer class="blockquote-footer mt-5">
      {{ articleDetails.createdAt | date }}
    </footer>
  </ng-container>

  <ng-container *ngIf="isGetRecordFailed">
    <div class="alert alert-danger mt-5">
      <h4 class="alert-heading mb-3">Unexpected Error Occurred</h4>
      <p>We're sorry, but something went wrong. Please try again later.</p>
      <hr />
      <p class="mb-0">
        If the problem persists, please contact support team for assistance.
      </p>
    </div>
  </ng-container>
</div>
