<div class="container">
  <ng-container *ngIf="articlesToDisplay">
    <div class="d-flex align-items-center justify-content-between">
      <h1 class="my-5">All Articles</h1>

      <div class="d-flex justify-content-end">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="search"
          [(ngModel)]="searchString"
          (input)="onSearchChange()"
        />
      </div>
    </div>

    <div
      *ngFor="let article of articlesToDisplay"
      class="card mb-4"
      role="button"
      (click)="onCardClick(article)"
    >
      <div class="card-header">
        {{ article.title }}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            {{ article.description | slice : 0 : 280
            }}{{ article.description.length > 280 ? "..." : "" }}
          </p>
          <footer class="blockquote-footer mt-3">
            {{ article.createdAt | date : "yyyy-MM-dd" }}
          </footer>
        </blockquote>
      </div>
    </div>
  </ng-container>
</div>
