<div class="container">
  <ng-container *ngIf="articlesToDisplay">
    <div class="row align-items-center my-5">
      <div class="col-md-5">
        <h1>All Articles</h1>
      </div>

      <div class="col-md-7 d-flex justify-content-end">
        <div class="me-4">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="search"
            [(ngModel)]="searchString"
            (input)="onFilterOrSearchChange()"
          />
        </div>
        <div class="d-flex align-items-end me-2"><h5>Filter by:</h5></div>
        <div class="me-2 d-flex">
          <select
            class="form-select"
            id="articleType"
            name="articleType"
            [(ngModel)]="filterByType"
            (change)="onFilterOrSearchChange()"
          >
            <option value="" selected disabled hidden>Article type...</option>
            <option value="Support issue">Support issue</option>
            <option value="Technical issue">Technical issue</option>
          </select>
          <div
            class="align-self-center mx-2"
            role="button"
            (click)="clearArticleTypeSelection()"
          >
            X
          </div>
        </div>

        <div class="me-2">
          <input
            type="date"
            id="createdAt"
            class="form-control"
            name="createdAt"
            [(ngModel)]="filterByDate"
            (change)="onFilterOrSearchChange()"
          />
        </div>
      </div>
    </div>

    <div
      *ngFor="let article of articlesToDisplay"
      class="card mb-4"
      role="button"
      (click)="onCardClick(article)"
    >
      <div class="card-header">
        {{ article.title }}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            {{ article.description | slice : 0 : 280
            }}{{ article.description.length > 280 ? "..." : "" }}
          </p>
          <footer class="blockquote-footer mt-3">
            {{ article.createdAt | date }}
          </footer>
        </blockquote>
      </div>
    </div>
  </ng-container>
</div>
