<div class="container">
  <h1 class="my-5">All Articles</h1>

  <ng-container *ngIf="articles$ | async as articles">
    <div
      *ngFor="let article of articles"
      class="card mb-4"
      role="button"
      (click)="onCardClick(article)"
    >
      <div class="card-header">
        {{ article.title }}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            {{ article.description | slice : 0 : 280
            }}{{ article.description.length > 280 ? "..." : "" }}
          </p>
          <footer class="blockquote-footer mt-3">
            {{ article.createdAt | date : "yyyy-MM-dd" }}
          </footer>
        </blockquote>
      </div>
    </div>
  </ng-container>
</div>
